.contenedor-lineas {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  justify-content: center;
}

.grid {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(4, 1fr);
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

.producto {
  text-align: left;
}

.producto img {
  width: 100%;
  height: auto;
  display: block;
}

.producto span {
  display: block;
  margin-top: 10px;
  font-size: 16px;
  color: #333;
}

.contenedor-imagen-productos img {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .contenedor-imagen-productos img {
    width: 100%;
  }
}

.contenedor-h2-productos {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: 40px;
  font-size: 30px;
  font-weight: 600;
}

.filtros {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
}

.menu-filtro {
  position: relative;
}

.boton-filtro {
  padding: 10px 15px;
  border: 1px solid #ccc;
  background-color: #f4f4f4;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
}

.boton-filtro:hover {
  background-color: #e0e0e0;
}

.opciones-filtro {
  position: absolute;
  top: 100%;
  width: 200px;
  right: -130px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 10;
  overflow: hidden;
}

.opciones-filtro div {
  padding: 10px 15px;
  cursor: pointer;
}

.opciones-filtro div:hover {
  background-color: #f4f4f4;
}

.busqueda-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

.mensaje-no-encontrado {
  text-align: center;
  color: #ff0000;
  font-weight: bold;
  font-size: 16px;
  margin-top: 20px;
}

.contenedor-imagenes-background-card {
  background-color: #ccc3c3;
  border-radius: 3%;
  box-shadow: 7px 1px 15px rgb(72 121 188 / 55%);
}

.contenedor-imagenes-background-card:hover {
  cursor: pointer;
  transform: scale(1.01);
}
