.contenedor-lineas {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  justify-content: center;
}

.grid {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(4, 1fr);
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

.producto {
  text-align: left;
}

.producto img {
  width: 100%;
  height: auto;
  display: block;
}

.producto span {
  display: block;
  margin-top: 10px;
  font-size: 16px;
  color: #333;
}

.contenedor-imagen-productos img {
  width: 100%;
  height: 570px;
}

@media screen and (max-width: 768px) {
  .contenedor-imagen-productos img {
    width: 100%;
    height: 220px;
  }
}

.contenedor-h2-productos {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: 40px;
  font-size: 30px;
  font-weight: 600;
}

.filtros {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
}

.menu-filtro {
  position: relative;
}

.boton-filtro {
  padding: 10px 15px;
  border: 1px solid #ccc;
  background-color: #f4f4f4;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
}

.boton-filtro:hover {
  background-color: #e0e0e0;
}

.opciones-filtro {
  position: absolute;
  top: 100%;
  width: 200px;
  right: -130px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 10;
  overflow: hidden;
}

.opciones-filtro div {
  padding: 10px 15px;
  cursor: pointer;
}

.opciones-filtro div:hover {
  background-color: #f4f4f4;
}

.busqueda-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

.mensaje-no-encontrado {
  text-align: center;
  color: #ff0000;
  font-weight: bold;
  font-size: 16px;
  margin-top: 20px;
}

.contenedor-imagenes-background-card {
  background-color: #ccc3c3;
  border-radius: 3%;
  box-shadow: 7px 1px 15px rgb(72 121 188 / 55%);
}

.contenedor-imagenes-background-card:hover {
  cursor: pointer;
  transform: scale(1.01);
}

.producto-detalle {
  display: flex;
  justify-content: space-around; /* Espacio entre la imagen y el contenido */
  align-items: flex-start; /* Alineación superior */
  max-width: 1200px;
  margin: 50px auto;
  padding: 20px;
}
@media screen and (max-width: 768px) {
  .producto-detalle {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 50px auto;
    padding: 20px;
    flex-direction: column;
  }
  .producto-detalle-info {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-start;
    width: 90% !important;
    padding: 20px;
    position: relative;
    top: 0px !important;
  }
}

.producto-detalle-imagen {
  width: 50%; /* Imagen ocupa el 50% del espacio horizontal */
  max-width: 400px;
  height: auto;
  border-radius: 10px;
}

.producto-detalle-info {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: flex-start;
  width: 50%;
  padding: 20px;
  position: relative;
  top: 95px;
}

.producto-detalle-info h1 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.producto-detalle-info p {
  font-size: 16px;
  margin-bottom: 20px;
  color: #555;
}

.boton-descarga {
  padding: 10px 15px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.boton-descarga:hover {
  background-color: #0056b3;
}
.producto-detalle-info h4 {
  margin-bottom: 14px;
  text-decoration: underline;
}
.container-complet-sale-landing-page-first {
  display: flex;
  justify-content: center;
  /* gap: 5px; */
  overflow-x: auto;
  white-space: nowrap;
  margin: 20px;
  overflow-x: hidden;
}

.container-image-text-sale-landing {
  flex: none;
  width: calc(17% - 5px);
  text-align: center;
}

.container-image-text-sale-landing img {
  width: 95%;
  border-radius: 7px;
  transition: filter 0.3s ease-in-out;
}

.container-image-text-sale-landing img:hover {
  cursor: pointer;
  filter: brightness(115%); /* Efecto al pasar el cursor */
}

@media only screen and (max-width: 768px) {
  .container-complet-sale-landing-page-first {
    overflow-x: auto;
    gap: 10px;
  }

  .container-image-text-sale-landing {
    flex: none;
    width: calc(33.33% - 5px);
    position: relative;
  }

  .container-image-text-sale-landing img {
    width: 100% !important;
    border-radius: 7px;
  }
}
