<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # Si el archivo o directorio existe, servirlo normalmente
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d

  # Si no existe, redirigir todo a index.html
  RewriteRule ^ index.html [L]
</IfModule>